<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Page</title>
</head>
<body>
    <div>
        <h2>Manager Page</h2>
        <!-- Left side menu -->
        <div style="float: left; width: 20%;">
            <ul>
                <li><a href="/profile_emp?user={{user_data}}">Profile</a></li>
                <li><a href="/employees_managed?user={{user_data}}">Employees Managed</a></li>
                <li><a href="/dept_details?user={{user_data}}">Dept Details</a></li>
                <li><a href="/sql_command">SQL Prompter</a> </li>
            </ul>
        </div>
        <!-- Content area -->
        <div style="float: left; width: 80%;">
            <!-- Content for the manager page -->
        </div>
    </div>
</body>
</html>
