<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <div>
        <h2>Profile</h2>
        <p>Name: {{ user_data[2] }}</p>
        <p>DOB: {{ user_data[4] }}</p>
        <p>Email: {{ user_data[8] }}</p>
        <p>Employee ID: {{ user_data[0] }}</p>
        <p>Address: {{ user_data[1] }}</p>
        <p>Salary: Rs. {{user_data[5]}}</p>
        <p>Skills: {{user_data[7]}}</p>
        <p>Position: {{user_data[6]}}</p>
    </div>
    <button type="button" onclick="goBack()">Go Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
