<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <div>
        <h2>User Page</h2>
        <!-- Left side menu -->
        <div style="float: left; width: 20%;">
            <ul>
                <li><a href="/profile_usr?user={{user_data}}">Profile</a></li>
                <li><a href="/download?user={{user_data}}">Downloads</a></li>
                <li><a href="/reviews_added?user={{user_data}}">Reviews Added</a></li> <!-- Added link to reviews added page -->
            </ul>
        </div>
        <!-- Content area -->
        <div style="float: left; width: 80%;">
            <!-- Content for the manager page -->
        </div>
    </div>
</body>
</html>
